# Python core
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Secrets
.env
.env.local

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
data/*.csv
data/*.zip

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
